body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react-toggle--checked .react-toggle-track {
  background-color: #e8770e !important;
}

.rbc-month-row {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  flex: 1 0;
  flex-basis: 0px;
  overflow: hidden;
  height: 100%;
}

.rbc-month-view {
  border: 1px solid #f58220 !important;
}

/* .rbc-day-bg {
  border: none !important;
} */

.rbc-event {
  background-color: transparent !important;
}

.rbc-month-header .rbc-header {
  padding: 24px 0;
}

.rbc-header span {
  color: #2d9cdb;
}

.rbc-date-cell {
  text-align: center !important;
}

.rbc-date-cell > a,
.rbc-date-cell > a:active,
.rbc-date-cell > a:visited {
  color: inherit;
  text-decoration: none;
  cursor: default;
}

.rbc-day-bg:hover {
  cursor: pointer;
}

.rbc-off-range-bg:hover {
  cursor: default;
}

/* .rbc-header,
.rbc-header + .rbc-header,
.rbc-month-row + .rbc-month-row {
  border-bottom: none !important;
  border-left: none !important;
  border-top: none !important;
} */

.rbc-off-range-bg {
  background: #ffffff !important;
}
